mixin-box-shadow(x, y, blur, spread, color)
  box-shadow x y blur spread color

mixin-typo(weight, size, typo, color)
    font-weight weight
    font-size size
    font-family typo
    color color

set-font-size(value) {
    font-size: value; /* add PX (or original value) as backup */

    if (value is inherit) {
        /* do nothing, "inherit" has no unit */
    } else {
        font-size: remify(value);
        line-height : remify(value) * 1.5
    }
}

remify(value) { /* separate mixin, so it can be used elsewhere */
    u = unit(value);

    if (u is 'px') {
        return unit(value/16, 'rem');
    } else {
        return unit(value, u);
    }
}
mixin-typo(weight, size, family, color)
    font-weight weight
    font-size size
    font-family family
    color color

mixin-border-color(border-color = none)
    content ""
    position absolute
    border-top-left-radius 0.5em
    border-top-right-radius 0.5em
    left 0
    right 0
    top 0
    bottom 0
    width 100%
    height 7px
    border-top 7px solid border-color
