// ------------------ colors ------------------



// ------------------ typo ------------------

font-body ='Kumbh Sans', sans-serif

font-300 = 300 
font-400 = 400
font-700 = 700

font-16 = 16px
font-18 = 18px
font-20 = 20px
font-22 = 22px
font-24 = 24px

