.main {
  @include mixin-content;

  height: auto;
  margin: 6em auto;

  h3 {
    border-bottom: 3px solid black;
    font-size: $font-20 * 3;
    margin: 0 auto;
    text-align: center;
    width: 40%;
  }

  &__text {
    margin: 3em auto;
    text-align: left;
    width: 60%;

    p {
      line-height: 1.8em;
    }
  }
}

.first__text {
  b:nth-of-type(1) {
    color: teal;
    font-size: $font-24;
    margin: 0 0.2em;
  }

  b:nth-of-type(2) {
    background-color: #db3a34;
    border-radius: 0.5em;
    color: white;
    margin: 0.5em;
    padding: 0.5em;
  }

  i:nth-last-child(1) {
    background-color: #008080;
    font-size: $font-28;
  }
}
