.container__nav {
  height: 3em;
  position: relative;
  width: 100%;
}

.navigator {
  position: fixed;
  top: 5em;
  width: 100%;
  z-index: 1000;

  &__menu {
    @include mixin-center-content;

    height: 100%;
    justify-content: flex-end;
    width: 95%;

    p {
      border: 1px solid transparent;
      border-radius: 0.5em;
      font-size: $font-20;
      padding: 0.3em 1em;

      &:hover {
        border: 1px dashed #0cc;
        cursor: pointer;
        transition: 0.3s;
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }
}
