extends ../components/_header.pug
block content
  div(class="container__nav")
    include ../components/_nav.pug
    include ../views/menu.pug
  div#main__container
    main.main
      h3 Quien es Carlos
      .main__text
        p.first__text
          |Quién es <b>Carlos</b>, no siempre resulta fácil responder.
          |Interpretamos diversos roles en cada aspecto de la vida.<br>
          |A veces soy <b>Arquitecto</b>, otras <b>Programador</b>, algunas veces <b>Diseñador</b>,
          |y otras solo un viajero.
          |Pero mi mejor respuesta es <i>Soy Carlos.</i>
        br
        br
        p
          |Y quien es Carlos, en principio soy un sonador,
          |siempre voy a creer que las cosas pueden estar mejor,
          |y que solo debes seguir surfeando las olas.
          |Si, surfear las olas, para mi la vida se trata del mar,
          |donde estas solo tu y tu tabla de surf,
          |con la que montas cada ola y navegas cada curva de esta.
        br
        br
        p
          |Ahora quien es Carlos profesionalmente,
          |soy programador, disenador y arquitecto.
          |Si, tal como se lee, una combinacion que podria resultar extrana, pero a su vez increible.
          |Y que hace un arquitecto programando, 
          |bueno esto podria ser una historia muy interesante.
          |La tecnologia mueve al mundo, nos conectamos  a ella diaramente,
          |han sido mi pala y bloque para  para construir entornos virtuales, y me preguntaba,
          |porque ademas de usarla, tambien crearla. 
        br
        br
        p
          |De esa pregunta nace la necesidad de aprender a programar,
          |comence entendiendo un poco de diseno de interfaces y experiencia de usuario.
          |Creo que cuando uno comienza a cruzar fronteras profesionales es mas facil comenzar por temas que son mas familiariares,
          |para mi crear productos pensando en el usuario final, entender sus necesidades y
          |dar soluciones a sus necesidades, es lo mas cercano al rol del arquitecto,
          |cuando disenas una casa, son miles de variables que intervienen en esta,
          |los suenos de los clientes, las necesidades, la manera de usar cada espacio.
          |Muchas veces al disenar propones situaciones hipoteticas,
          |como que alguno de sus ocupantes usara la sala que disenaste con vista al jardin,
          |mientras lee 'Cien anos de Soledad'.
        br
        br
        p
          |Al entender un poco como funcionaba esto,
          |me surgio la necesidad de conocer como se hace,
          |como llevar lo que habia disenado al mundo real,
          |entregarle este producto a alguien y que lo pudiese usar y disfrutar,
          |es aqui donde comienza mi largo viaje por el mundo de programar.
          |Comence con HTML y CSS, que otras herramientas me permitirian ver rapidamente lo que habia disenado,
          |al tiempo me di cuenta que a penas comenzaba a 'remar'.
          |HTML y CSS eran solo el comienzo de este genial viaje, y aun aqui me encuentro,
          |'remando' para poder 'remontar' la ola.
        br
        br
        p
          |Este es un viaje que no tiene fin, todos los dias aprendes algo nuevo,
          |algo que te permite seguir remando, y no creo que haya un final de la ola,
          |solo maniobras o trucos que te permiten mostrar tus habilidades.
          |Asi que aun sigo remando y surfeando olas.
    include ../components/_footer.pug