extends ../components/_header.pug
include ../components/_mixin.pug
block content
  - var articles = 5;
  .container__nav
    include ../views/menu.pug
    include ../components/_menu.pug
  div#main__container
    main.main
      h3 Make Simple
      .main__blog
        +blog_card
        +blog_card
        +blog_card
        +blog_card
        +blog_card

  include ../components/_footer.pug