div(class="nav__container hiddenMenu" id="menu__hidden")
  .nav
    .nav__header
      img(src=require("../../src/assets/Avatar_Carlos.svg").default, alt="avatar") 
    .nav__rrss
      .nav__rrss--line
        a(href="https://github.com/KrlosAren")
          img(src="https://img.icons8.com/material-outlined/192/000000/github.png")
        a(href="https://www.linkedin.com/in/carloslopezzavarce/")
          img(src="https://img.icons8.com/ios-glyphs/120/000000/linkedin-2.png")
        a(href="https://twitter.com/KrlosLZ")
          img(src="https://img.icons8.com/material/144/000000/twitter-squared.png")
        a(href="https://www.instagram.com/krlosaren/")
          img(src="https://img.icons8.com/ios/250/000000/instagram-new.png")
        a(href="mailto:krlosaren@gmail.com")
          img(src="https://img.icons8.com/material-rounded/96/000000/important-mail.png")
    .nav__links
      a(href="/index.html") Home
      a(href="/Projects.html") Projects
      a(href="/About.html") About
      a(href="/makeSimple.html") Make Simple