div(class="nav__container hiddenMenu" id="menu__hidden")
  .nav
    .nav__rrss
      .nav__rrss--line
        a(href="https://github.com/KrlosAren")
          img(src="https://img.icons8.com/material-outlined/192/000000/github.png")
        a(href="https://www.linkedin.com/in/carloslopezzavarce/")
          img(src="https://img.icons8.com/ios-glyphs/120/000000/linkedin-2.png")
        a(href="https://twitter.com/KrlosLZ")
          img(src="https://img.icons8.com/material/144/000000/twitter-squared.png")
        a(href="https://www.instagram.com/krlosaren/")
          img(src="https://img.icons8.com/ios/250/000000/instagram-new.png")
        a(href="mailto:krlosaren@gmail.com")
          img(src="https://img.icons8.com/material-rounded/96/000000/important-mail.png")
    .nav__links
      .nav__links--item
        a(href="/index.html") Home
        span Regreso al Home Page
      .nav__links--item
        a(href="/Projects.html") Projects
        span Algunos proyectos
      .nav__links--item
        a(href="/About.html") Yo
        span Acerca de mi
      .nav__links--item
        a(href="/makeSimple.html") Make Simple
        span Para aprender