extends ../components/_header.pug
include ../components/_mixin.pug
block content
  div(class="container__nav")
    include ../components/_nav.pug
    include ../views/menu.pug
  div#main__container
    main(class="main main__project")
      h3 Proyectos
      .main__projects
        +project_card
        +project_card
        +project_card
        +project_card
        +project_card
        +project_card
    include ../components/_footer.pug