mixin blog_card
  .blog__card
    h4 Title
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur placeat quidem excepturi cum incidunt omnis quasi, aut, odio nulla repellendus aperiam sit deleniti ipsam eligendi quisquam reiciendis? Veniam eligendi neque eos nisi dolore eum, laudantium facere accusamus, ab dolores accusantium.
    a(href="/id") ...Continuar

mixin project_card
  .project
    a(href="/")
      .project__modal
        h4 Proyecto-1
      img(src="https://dummyimage.com/600x400/c2c2c2/fff", alt="dummy")
