mixin blog_card
  .blog__card
    h4 Title
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur placeat quidem excepturi cum incidunt omnis quasi, aut, odio nulla repellendus aperiam sit deleniti ipsam eligendi quisquam reiciendis? Veniam eligendi neque eos nisi dolore eum, laudantium facere accusamus, ab dolores accusantium.
    a(href="/id") ...Continuar