extends ./components/_header.pug
block content
  include ./views/menu.pug
  include ./components/_menu.pug
  div#main__container
    div(class="content")
      .content__text
        h1 Hola!
      .content__arrow
        h3 scroll
        img(src=require("../src/assets/icons/arrow.svg").default, alt="")
    .prologe
      .prologe__text
        h2 Sigues Aqui!
      .prologe__paragraph--what
        h3 Que hacemos?
        p
          |Algun dia me dijeron aprende a escribir.
          |Pregunte para que, y nadie supo responder, 
          |y creo que he encontrado la razon.
      .prologe__paragraph--continue
        p
          |Escribir es libre,  inventar historias tambien,
          |y compartirlas es de tu eleccion. 
          |Este espacio se trata de eso, compartir lo que pienso,
          |compartir lo que se, aprender de ti, 
          |y porque no compartir una buena conversacion.
      .prologe__paragraph--last
        p
          |Quedate aqui e intercambiemos conocimiento,
          |podras conseguir de todo un poco, me gusta la tecnologia,
          |salir a caminar, escuchar historias de otros,
          |y aprender algo nuevo todos los dias.
    .me
      .me__img
        img(src=require("../src/assets/Avatar_Carlos.svg").default, alt="")
      .me__description
        h2 Soy, Carlos
        ul
          li Soy desarrollador front-end y disenador.
          li Estudie arquitectura.
          li Vivo en <del>Venezuela, Costa Rica,</del> Chile. 
          li Me gusta viajar, comer y leer.
          li Diariamente me cuestion el porque de la vida.
          li Soy cinturon negro en karate-do, pero soy pacifista. <del>(Miyagi fue mi sensei).</del>
          li <b>La playa y la montana son mis lugares favoritos.</b>
          li Salir a caminar  me ayuda a solucionar problemas(cocinar Tambien).
          li Aprender cosas es parte de mi filosofia de vida.
          li Cuanto tengo tiempo libre, busco en que ocuparlo(Sindrome de Estocolmo).
        a(href="/About.html") Mas Historias
    include ./components/_footer.pug